.banners {
    background: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/Hero-mob-1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    padding: 118px 0;
    // @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //     background: linear-gradient(
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4)),
    //     url("../images/Hero-mob-2x.jpg");
    
    @include tab {
        background: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url("../images/Hero-tab-1x.jpg");
    //     @media (min-device-pixel-ratio: 2),
    //         (min-resolution: 192dpi),
    //         (min-resolution: 2dppx) {
    //         background: linear-gradient(
    //         rgba(47, 48, 58, 0.4),
    //         rgba(47, 48, 58, 0.4)),
    //         url("../images/Hero-tab-2x.jpg");
    //     }
        padding: 118px 204px;
    }
    @include desk {
        background: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url("../images/Hero.jpg");
    //     @media (min-device-pixel-ratio: 2),
    //         (min-resolution: 192dpi),
    //         (min-resolution: 2dppx) {
    //         background: linear-gradient(
    //         rgba(47, 48, 58, 0.4),
    //         rgba(47, 48, 58, 0.4)),
    //         url("../images/Hero-1x.jpg");
    //     }
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        flex-grow: 1;
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        padding: 200px 0;
    }
}

.baners-container {
    text-align: center;
}

.baners-container__title {
    @include font (900, 26px, 1.62, 0.06em);
    text-align: center;
    text-transform: uppercase;
    color: var(--btn-color);
    max-width: 100%;
    @include desk {
        @include font (900, 44px, 1.36, 0.06em);
        margin: auto;
        max-width: 696px;
    }
    
}

.baners-container__btn {
    @include font (700, 16px, 1.87, 0.06em);
    align-items: center;
    text-align: center;
    color: var(--btn-color);
    min-width: 200px;
    min-height: 50px;
    padding: 0;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    margin-top: 30px;
}