.clients-container__title {
    @include font (700, 36px, 1.17, 0.03em);
    text-align: center;
    padding-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-list__link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    @extend %center-list;
    justify-content: center;
    color: #afb1b8;
    transition: border var(--duration) var(--cubik);
    &:focus, &:hover {
        border-color: var(--accent-color);
        color: var(--accent-color);
    }
}

.clients-list__item:not(:last-child) {
    margin-right: 30px;
}

.clients-list__icon {
    fill: currentColor;
    transition: var(--property) var(--duration) var(--cubik);
}